/*Bar*/

ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-width: 1800px;
}

li.bar {
    float: left;
    margin-left: auto;
    margin-right: auto;
}

li a.bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Bar*/