body {
    padding: 0;
    margin: 0;
}

.bar {
    padding: 0;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    /*background-color: blue;*/
    margin: 0;
    padding: 0;
    display: flex;
    height: 500px;
}

li {
    position: relative;
    list-style: none;
    margin: auto 70px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

li:hover {
    width: 200px;
    height: 200px;
}

.loader {`
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: 0.5s;
    animation: animate 0.8s linear infinite;
    animation-play-state: running;
    box-shadow: 0px 0px 3px 6px #2d2d2d;
}

.loader:hover {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#595959, #727272, #353535);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}
.loader span:nth-child(2) {
    filter: blur(10px);
}
.loader span:nth-child(3) {
    filter: blur(25px);
}
.loader span:nth-child(4) {
    filter: blur(50px);
}

p {
    border: 7px solid #383434;
    padding: 0;
    font-size: 100px;
    width: 800px;
    height: 150px;
    position: fixed;
    margin: auto;
    margin-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}